
<br>
<form>
  <div class="row">
    <div class="col">
      <input type="search" id="form1" [ngModelOptions]="{standalone: true}" placeholder="Search name here" [(ngModel)]="searchEmployee" (keyup)="search()" class="form-control" />
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="goToExperience()">Experience > 2 Employee List</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="goToDepartments()">Distinct Department Count</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" (click)="deleteDevelopment()">Delete All Development</button>
    </div>
  </div>
</form>

<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope='col'>id</th>
      <th scope='col' [appSort]="dataList" data-order="desc" data-name="name">name</th>
      <th scope='col'>department</th>
      <th scope='col' (click)="sortData(dateFlag)">joining_date</th>
      <th scope='col'>Experience</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.department}}</td>
      <td>{{data.joining_date}}</td>
      <td>{{data?.exp}}</td>

    </tr>
  </tbody>
  <tbody *ngIf="dataList.length===0">No Data Found</tbody>


</table>
