<button (click)="goToEmployee()">Go Back</button>

<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope='col'>id</th>
      <th scope='col' >name</th>
      <th scope='col'>department</th>
      <th scope='col'>joining_date</th>
      <th scope='col'>Experience</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataList">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.department}}</td>
      <td>{{data.joining_date}}</td>
      <td>{{data?.exp}}</td>

    </tr>
  </tbody>
  <tbody *ngIf="dataList?.length===0">No Data Found</tbody>


</table>
