
<button (click)="goToEmployee()">Go Back</button>

<table class="table table-striped border mt-1">
  <thead>
    <tr>
      <th scope='col'>Department</th>
      <th scope='col'>Count</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Hr</td>
      <td>{{HrDepartments}}</td>
    </tr>

    <tr>
      <td>Finance</td>
      <td>{{HrFinance}}</td>
    </tr>

    <tr>
      <td>Operations</td>
      <td>{{HrOperations}}</td>
    </tr>

    <tr>
      <td>Development</td>
      <td>{{HrDevelopment}}</td>
    </tr>

  </tbody>


</table>
